<section class="userDetail__container">
  <div class="userDetail__cover" *ngIf=""></div>
  <random-image #randomImage class=""></random-image>
  <div class="userDetail__headerDetail">
      <div class="userDetail__avatarContainer">
          <div class="userDetail__innerAvatarContainer">
              <avatar class="userDetail__avatar" [name]="user?.name"></avatar>
              <div class="userDetail__userNameContainer">
                  <h2>{{user?.name}}</h2>
                  <p>{{user?.email}}</p>
              </div>
          </div>
          <div *ngIf="authUser?.id != user?.id" class="userDetail__userActions">
              <app-button [outline]="true" type="secondary">
                <fa-icon [icon]="faPlus"></fa-icon>
                Follow
              </app-button>
          </div>
      </div>
      <tab
        class="my-1"
        [data]="{
          'About': myInfo,
          'Blogs': myBlogs,
          'Activity': activity,
          'Followers': myFollowers,
          'Following': followings
        }">
      </tab>

      <ng-template #myInfo>
        <!-- Followers -->
        <!-- Posted -->
        <!-- Followed -->
        <!-- Followers -->
        <!-- Active since -->
        <!-- Date of Birth -->
        <!-- Bio -->
        <!-- Description -->
        <!-- Interested tags -->
        <!-- Role -->
      </ng-template>

      <ng-template #myBlogs>
        <blog-item *ngFor="let item of blogs" [blog]="item"></blog-item>
      </ng-template>

      <ng-template #activity>

      </ng-template>

      <ng-template #myFollowers>

      </ng-template>

      <ng-template #followings>

      </ng-template>

  </div>
</section>
