<ng-template #content>
  @if(!!leftIcon) {
    <fa-icon [icon]="leftIcon" width="1.2rem" height="1.2rem" ></fa-icon>
  }
  <ng-content></ng-content>
  @if(loader) {
    <app-spinner [type]="outline ? type : 'dark'" size="small" [loader]="loader"></app-spinner>
  }
  @if(!!rightIcon && !loader) {
    <fa-icon [icon]="rightIcon" width="1.2rem" height="1.2rem" ></fa-icon>
  }
</ng-template>

@if(isLinkButton) {
  <a rel="noreferrer" [attr.data-value]="value" [attr.aria-disabled]="disabled" [routerLink]="link" style="flex-direction: inherit; display: inherit;">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
}

@if(!isLinkButton) {
  <button [attr.data-value]="value" [disabled]="disabled" [attr.aria-disabled]="disabled" [type]="htmlType || 'button'" style="flex-direction: inherit; display: inherit;">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </button>
}
