<ng-template #container>
  <div tabindex="-1" class="flex items-center justify-center flex-1 absolute m-auto inset-0 z-10 transition-all bg-dark bg-opacity-60 [&>div]:translate-x-0 [&>div]:translate-y-0" (click)="onBackdropPress($event)" (keyup)="onKeyup()">
    <div [class]="modelInnerContainer" [style]="style">
      <ng-content></ng-content>
      <app-button type="link" class="bg-transparent border-0 absolute top-2 right-3 focus:outline-none" (click)="dismiss.emit($event)">
        <fa-icon [icon]="faXMark" width="1.8rem" height="1.8rem"></fa-icon>
      </app-button>
    </div>
  </div>
</ng-template>
