
.backdropShow {
  background-color: rgba(0,0,0,0.6);
}

.backdropShow > div {
  transform: translate(0,0);
}

.backdropContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: .25rem .75rem;
  position: absolute;
  margin: auto;
  inset: 0;
  z-index: 11;
  transition: background-color 1s;
}

.modalInnerContainer {
  width: 70%;
  height: 70%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);
  position: relative;
  z-index: 2;
  transform: translate(0, 0);
  border-radius: 0.5rem;
  transition: transform 1s, max-width 1s, max-height 1s;
}

.buttonDismiss {
  background-color: transparent;
  border-width: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
}

.buttonDismiss:focus {
  outline: "none",
}

.transformRight {
  transform: translate(100rem, 0);
}

.transformLeft {
  transform: translate(-100rem, 0);
}

.transformTop {
  transform: translate(0, -100rem);
}

.transformBottom {
  transform: translate(0, 100rem);
}
