@if(label) {
<span [class]="this.labelClass">{{label}}</span>
}

@if(name && selectedKey) {
<input read-only [name]="name" type="hidden" [value]="selectedKey" />
}

<app-button [class]="this.buttonClass" [type]="this.type" (click)="showClass = !showClass">
  {{defaultSelectedValueRenderer}}
</app-button>

@if(errorText) {
<span class="text-danger text-sm mx-2">{{errorText}}</span>
}

<ul [class]="this.dropdownContentClass">
  @for(item of options | keyvalue; track item.key) {
  <li tabindex="-1" (keydown)="onItemKeydown()"
    class="px-3 py-4 flex flex-row items-center cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700"
    (click)="onItemClick(item.key, item.value)">
    @if(item.value.icon) {
      <fa-icon [icon]="item.value.icon"></fa-icon>
    }
    {{item.value.label}}
  </li>
  }

</ul>

<ng-template #defaultSelectedValueRenderer>
  {{ options?.[selectedKey || ""]?.label || placeholder }}
</ng-template>
