<!-- Action List -->
<div class="border-solid border-b-[1px] flex items-center row gap-2 py-2">
  <app-button [title]="item.title" [outline]="true" *ngFor="let item of supportingActions" type="link"
    (click)="item.action($event)">
    <fa-icon style="flex:none;" class="px-2" [icon]="item.icon"></fa-icon>
  </app-button>
</div>

<!-- Main text editor -->
<ol #container contenteditable="true" class="w-full min-h-80 list-inside p-2 focus-visible:outline-none mb-0 text-dark dark:text-light" (keydown)="onKeyDown($event)" (input)="onTextChange($event)">
</ol>

<!-- Modal to show cheat sheet -->
<app-modal #cheatsheet>
  <h1>Markdown Cheat Sheet</h1>
  <p>This Markdown cheat sheet provides a quick overview of all the Markdown syntax elements. It can’t cover every edge
    case, so if you need more information about any of these elements, refer to the reference guides for <a href="https://www.markdownguide.org/basic-syntax" target="__blank">basic syntax</a>
    and <a href="https://www.markdownguide.org/extended-syntax" target="__blank">extended syntax</a></p>
  <h2>Basic Syntax</h2>
  <p>These are the elements outlined in John Gruber's original design document. All Markdown applications support these
    elements.</p>
  <h3>Heading</h3>
  <code>
    # H1
    <br/>
    ## H2
    <br/>
    ### H3
  </code>

  <h3> Bold </h3>
  <code>**bold text**</code>

  <h3>Italic</h3>
  <code>*italicized text*</code>

  <h3> Blockquote </h3>

  <code>> blockquote</code>

  <h3>Ordered List</h3>
  <code>
    1. First item
    <br />
    2. Second item
    <br />
    3. Third item
  </code>

  <h3>Unordered List</h3>

  <code>
    - First item
    <br />
    - Second item
    <br />
    - Third item
  </code>

  <h3>Code</h3>
  <code>`code`</code>

  <h3>Horizontal Rule</h3>
  <code>---</code>

  <h3> Link </h3>

  <code>
    [Markdown Guide](https://www.markdownguide.org)
  </code>

  <h3>Image</h3>

  <code>
    ![alt text](https://www.markdownguide.org/assets/images/tux.png)
  </code>

  <h2>Extended Syntax</h2>
  <p>
    These elements extend the basic syntax by adding additional features. Not all Markdown applications support these
    elements.
  </p>

  <h3>Table</h3>

  <code>
  | Syntax | Description |
  <br />
  | ----------- | ----------- |
  <br />
  | Header | Title |
  <br />
  | Paragraph | Text |
  </code>

  <h3>Fenced Code Block</h3>

  <code>
    ```
    <br />
    {{'\{' +
    '\n' +
    '\"firstName\": \"John\",' +
    '\n' +
    '\"lastName": \"Smith\",' +
    '\n' +
    '\"age\": 25'+
    '\n' +
    '\}'}}
    <br />
    ```
  </code>

  <h3>Footnote</h3>
  <code>
    Here's a sentence with a footnote. [^1]
    <br />
    [^1]: This is the footnote.
  </code>

  <h3> Heading ID </h3>

  <code>
    ### My Great Heading {{'\{#custom-id\}'}}
  </code>

  <h3> Definition List </h3>

  <code>
    term
    <br />
    : definition
  </code>

  <h3>Strikethrough</h3>
  <code>~~The world is flat.~~</code>

  <h3>Task List</h3>

  <code>
    - [x] Write the press release
    <br />
    - [ ] Update the website
    <br />
    - [ ] Contact the media
  </code>

  <h3>Emoji</h3>
  <code>
    That is so funny! :joy:
  </code>

  <p>
    (See also <a href="https://www.markdownguide.org/extended-syntax/#copying-and-pasting-emoji">Copying and Pasting Emoji</a>)
  </p>

  <h3>Highlight</h3>

  <code>
    I need to highlight these ==very important words==.
  </code>

  <h3>Subscript</h3>

  <code>
    H~2~O
  </code>

  <h3>Superscript</h3>

  <code>X^2^</code>

  <hr />

  <p>
    Source provided by <a href="https://www.markdownguide.org">The Markdown Guide</a>
  </p>

</app-modal>
