:host {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0.8rem;
  position: relative;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.line-number {
  left:0;
  top: 2.2rem; /* Host margin + (editor padding x 2) */
}

.line-number > p {
  font-size: calc(var(--bs-body-font-size) * 0.875);
  line-height: calc(var(--bs-body-line-height) + 0.22);
}

.md-text-editor {
  width: 100%;
  min-height: 5rem;
  font-size: inherit;
  color: inherit;
  list-style-position: inside;
  padding: 0.5rem;
}

.md-text-editor > li::marker {
  font-stretch: ultra-expanded;
}

.md-text-editor:focus-visible {
  /* outline: var(--bs-primary) auto 1px; */
  outline: none;
}

.md-text-editor-actions {
  border-bottom: 1px solid var(--bs-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.md-text-editor-actions > button {
  color: var(--bs-black);
  padding: 0.1rem;
}
