<div [ngClass]="'px-2 relative h-full ' + collapsed ? 'flex-1': 'flex-[0.75]'">
  <div class="relative w-full mb-2">
    <div class="absolute right-2 top-1 flex flex-row w-full items-center justify-end p-2 gap-4">
      <app-button type="link">
        <fa-icon class="text-xl" [icon]="faBookmark"></fa-icon>
      </app-button>
      <app-button (click)="toggleCollapse($event)">
        <fa-icon class="text-xl" [icon]="faCircleInfo"></fa-icon>
      </app-button>
    </div>
    <img src="https://placehold.co/700x320" alt="blog-cover" class="w-full max-h-80 object-contain bg-neutral-200"/>
  </div>
  <h2 [routerLink]="'/blog/'+blog.id" class="pointer text-2xl text-dark font-medium">{{blog.title}}</h2>
  <p class="text-gray-500 text-base font-normal">{{blog.content}}</p>
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row">
      <div class="flex flex-row items-center m-1">
        <fa-icon class="p-1" [icon]="faThumbsUp"></fa-icon>
        <span>10 Likes</span>
      </div>
      <div class="flex flex-row items-center m-1">
        <fa-icon class="p-1" [icon]="faCommentDots"></fa-icon>
        <span>10 Comments</span>
      </div>
    </div>
    <div class="flex flex-row items-center gap-1">
      <avatar src="https://placehold.co/240" class="rounded-lg relative h-10 w-10 flex flex-row items-center justify-center" [name]="blog.author?.name"></avatar>
      <div class="flex flex-col mx-2">
        <p class="text-base text-dark font-medium">{{blog.author?.name}}</p>
        <p class="text-xs text-gray-500 font-light">{{blog.created_at | date }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="collapsed" class="flex flex-col justify-start items-center mx-2 flex-[0.25] h-full border-0 border-current border-l-2 gap-2" >
  <div class="flex flex-col items-center">
    <avatar src="https://placehold.co/240" class="rounded-lg relative h-24 w-24 flex flex-row items-center justify-center" [name]="blog.author?.name"></avatar>
    <div class="flex flex-col">
      <p class="text-dark text-xl font-medium">{{blog.author?.name}}</p>
    </div>
  </div>
  <app-button [outline]="true" type="primary" [rounded]="true">Follow</app-button>
</div>
