.container {
  display:flex;
  flex-direction:row;
  position:relative;
  align-items:center;
  justify-content:center;
  /* border: 1px solid var(--bs-${type}); */
}

.loader {
  background:transparent;
  color: inherit;
  margin-right: 0.4rem;
  top: 0;
  bottom: 0;
}
