<ng-template #content>
  <fa-icon *ngIf="!!leftIcon" [icon]="leftIcon" width="1.2rem" height="1.2rem" ></fa-icon>
  <ng-content></ng-content>
  <spinner *ngIf="loader" [type]="outline ? type : 'dark'" size="small" [loader]="loader"></spinner>
  <fa-icon *ngIf="!!rightIcon && !loader" [icon]="rightIcon" width="1.2rem" height="1.2rem" ></fa-icon>
</ng-template>

<a rel="noreferrer" [attr.data-value]="value" [attr.aria-disabled]="disabled" [routerLink]="link" *ngIf="isLinkButton" style="flex-direction: inherit; display: inherit;">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</a>

<button [attr.data-value]="value" [disabled]="disabled" [attr.aria-disabled]="disabled" *ngIf="!isLinkButton" [type]="htmlType || 'button'" style="flex-direction: inherit; display: inherit;">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</button>
