<header class="w-full flex-wrap bg-primary text-light flex flex-row justify-center items-center py-4">
  <div class="flex flex-row justify-between flex-1 lg:flex-[0.75] items-baseline md:items-center px-2">
    <div class="flex flex-row justify-start gap-2">
      <a class="text-xl text-light font-medium whitespace-nowrap md:mr-4 no-underline" routerLink="/">Ahsan Ahmed</a>
      <ul class="flex flex-col md:flex-row md:items-center basis-auto ml-2 md:m-0 p-0 list-none gap-2">
        <li class="mx-0.5">
          <a class="p-1 text-light no-underline" href="#">Home</a>
        </li>
      </ul>
    </div>

    <div class='flex flex-row justify-center items-center relative gap-2 flex-1'>
      <form class="flex flex-row relative flex-1 justify-center items-center" (submit)="onSearchBlog($event)">
        <input type="text" class="px-4 py-2 rounded-lg outline-none text-dark md:min-w-80" placeholder="Search" name="search" [required]="true" />
        <app-button class="absolute right-0 top-0 bottom-0" htmlType="submit">
          <fa-icon [icon]="faSearch" width="1rem" height="1rem"></fa-icon>
        </app-button>
      </form>

      <app-button (click)="toggleDarkMode()" class="px-1">
        <fa-icon [icon]="this.isDarkMode ? faMoon: faSun" height="1.2rem" width="1.2rem" fill="#fff"></fa-icon>
      </app-button>

      @if(!user) {
        <div class="flex flex-row">
          <a routerLink="/login" class="btn btn-outline-dark m-1">Log In</a>
          <a routerLink="/register" class="btn btn-secondary m-1">Create Account</a>
        </div>
      }

      @if(user.id) {
        <div class="flex flex-row">
          <app-button class="px-2" [routerLink]="'/blog/create'">
            <fa-icon [icon]="faPlus" height="1.2rem" width="1.2rem" fill="#fff"></fa-icon>
          </app-button>
          <app-button class="px-2">
            <fa-icon [icon]="faBell" height="1.2rem" width="1.2rem" fill="#fff"></fa-icon>
          </app-button>
          <app-avatar style="cursor:pointer;" (click)="showPopup = !showPopup" [name]="user.name"></app-avatar>
          @if(showPopup) {
            <app-account-popup></app-account-popup>
          }
        </div>
      }
    </div>
  </div>
</header>
