@if(name) {
@for(key of value; track key) {
<input readOnly [value]="key" type="hidden" [name]="name + multiple? '[]': ''" [attr.data-name]="name" />
}
}

<app-floating-input [id]="id" [defaultValue]="defaultValue" [label]="label" [(value)]="value"
  (change)="onChange($event)" (keydown)="onKeyDown($event)" [disabled]="disabled" (focus)="onFocus($event)"
  (blur)="onBlur($event)" [placeholder]="placeholder || label" #inputRef>
</app-floating-input>

@if(errorText) {
<span class="text-danger text-sm mx-2">{{errorText}}</span>
}

<ul [class]="this.dropdownContentClass">
  @for(item of options | dropdownFilter: this.searchTerm| keyvalue; track item.key) {
  <li tabindex="-1" (keydown)="onItemKeydown()"
    class="px-3 py-4 flex flex-row items-center cursor-pointer z-10 hover:bg-gray-100 dark:hover:bg-gray-700"
    (click)="onItemClick($event, item.key, item.value)">
    @if(item.value.icon) {
      <fa-icon [icon]="item.value.icon"></fa-icon>
    }
    {{item.value.label}}
  </li>
  }

</ul>

@for(key of values; track key) {
  <app-badge [type]="type" [class]="this.badgeClass">{{this.options?.[key]?.label}}</app-badge>
}
