<label [ngClass]="'relative flex flex-row [&_*]:box-border [&:focus-within>span]:text-primary [&:focus-within>span]:translate-y-0 [&:focus-within>span]:pl-0 '+( errorText ? 'border-danger': '')">
  <input
    [ngClass]="'w-full px-0 py-2 pl-2 mt-5 border border-solid border-gray-500 rounded outline-none placeholder:opacity-0 [&:not(:placeholder-shown)+span]:text-primary [&:not(:placeholder-shown)+span]:translate-y-0 [&:not(:placeholder-shown)+span]:pl-0 bg-transparent text-dark dark:text-light ' +( errorText ? 'border-danger ': '') + ( !!placeholder ? 'focus:placeholder:opacity-1  ': '') + inputClass"
    [defaultValue]="defaultValue"
    [type]="showSecureText && htmlType == 'password' ? 'text' : htmlType"
    [id]="id"
    [attr.data-name]="name"
    [name]="name"
    [placeholder]="placeholder || label"
    [value]="value"
    (change)="onValueChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keydown)="onKeyDown($event)"
    (input)="onValueChange($event)"
    autocomplete="off"
    />
  <span class="absolute top-0 left-0 translate-y-8 text-sm transition-all pl-2 text-dark dark:text-light">{{label}}</span>
  <ng-container *ngIf="htmlType == 'password'">
    <app-button type="primary" (click)="showSecureText = !showSecureText">
      <fa-icon [icon]="!showSecureText ? faEyeSlash : faEye"></fa-icon>
    </app-button>
  </ng-container>

  <ng-container *ngIf="htmlType != 'password' && iconName">
    <app-button type="primary" (click)="onIconClick($event)" >
      <fa-icon [icon]="iconName"></fa-icon>
    </app-button>
  </ng-container>

</label>
<span *ngIf="errorText" class="text-danger text-sm mx-2">{{errorText}}</span>
