<ng-template *ngIf="name">
  <input *ngFor="let key of value" readOnly [value]="key" type="hidden"
    [name]="name + multiple? '[]': ''" [attr.data-name]="name" />
</ng-template>

<floating-input
  [id]="id"
  [defaultValue]="defaultValue"
  [label]="label"
  [(value)]="value"
  (change)="onChange($event)"
  (keydown)="onKeyDown($event)"
  [disabled]="disabled"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  [placeholder]="placeholder || label" #inputRef></floating-input>

<span *ngIf="errorText" class="text-danger text-sm mx-2">{{errorText}}</span>

<ul [ngClass]="this.dropdownContentClass">
  <li class="px-3 py-4 flex flex-row items-center cursor-pointer z-10 hover:bg-gray-100 dark:hover:bg-gray-700" *ngFor="let item of options | dropdownFilter: this.searchTerm| keyvalue" (click)="onItemClick($event, item.key, item.value)">
    <fa-icon *ngIf="item.value.icon" [icon]="item.value.icon"></fa-icon>
    {{item.value.label}}
  </li>
</ul>

<badge [type]="type" *ngFor="let key of values" [ngClass]="this.badgeClass">{{this.options?.[key]?.label}}</badge>
