:host {
  position: relative;
  display: inline-block;
}

.inputContainer {
  display:flex;
  flex-direction:row;
  align-items:center;
  border: 1px solid var(--bs-grey);
  flex-wrap:wrap;
  width:100%;
  margin-top: 20;
}

.inputContainer > input {
  margin-top: 0;
  border: none;
  width: auto;
}
